<a class="d-none d-lg-flex btn btn-link p-0 text-decoration-none flex-row align-items-center gap-2 back-hover my-2 mb-lg-4 mt-lg-4"
(click)="goBack()">
    <span class="material-icons align-top">navigate_before</span>
    <span>Ir a reservas</span>
</a>
<h2 class="text fs-29 mobile-title mt-3 mb-2 my-lg-4 text-white">Resumen y pago de la reserva</h2>
<div class="card px-1 py-md-4 px-md-5">
    <div class="row gap-5 justify-content-around">
        <div class="border col-7 p-4">
            <div *ngIf="(reserveInfo$ | async) as reserve">
                <h5 class="title text text-white fw-bold mb-0 mt-4">INFORMACIÓN DE LA RESERVA</h5>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">NUMERO DE HABITACIÓN</span>
                        <span class="subtitle text">Habitación 1{{ reserve.roomId < 10 ? '0'+reserve.roomId : reserve.roomId }}</span>
                    </div>
                    <div class="item d-flex flex-column justify-content-center col mt-4">
                        <span class="subtitle fw-bold text">TIPO DE HABITACIÓN</span>
                        <span class="subtitle text">{{ reserve.roomType }}</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">FECHA DE INGRESO</span>
                        <span class="subtitle text">{{ reserve.checkIn }}</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">FECHA DE SALIDA</span>
                        <span class="subtitle text">{{ reserve.checkOut }}</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">CANTIDAD DE PERSONAS</span>
                        <span class="subtitle text">{{ reserve.peopleCapacity }} personas</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">PRECIO FINAL</span>
                        <span class="subtitle text">$ {{ reserve.price }}</span>
                    </div>
                </div>
                <h5 class="title text text-white fw-bold mt-5 mb-0">INFORMACIÓN DEL CLIENTE</h5>
                <div class="row row-cols-3">
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">NOMBRE</span>
                        <span class="subtitle text">{{ reserve.clientName }}</span>
                    </div>
                    <div class="item d-flex flex-column justify-content-center col mt-4">
                        <span class="subtitle fw-bold text">APELLIDO</span>
                        <span class="subtitle text">{{ reserve.clientSurname }}</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">DNI</span>
                        <span class="subtitle text">{{ reserve.documentNumber }}</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">FECHA DE NACIMIENTO</span>
                        <span class="subtitle text">{{ reserve.birthdate }}</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">E-MAIL</span>
                        <span class="subtitle text">{{ reserve.email }}</span>
                    </div>
                    <div class="item d-flex flex-column col mt-4">
                        <span class="subtitle fw-bold text">CELULAR</span>
                        <span class="subtitle text">{{ reserve.cellphone }}</span>
                    </div>
            <h5 class="title text text-white fw-bold mb-0 mt-4">INFORMACIÓN DE LA RESERVA</h5>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">NUMERO DE HABITACIÓN</span>
                    <span class="subtitle text">Habitación 105</span>
                </div>
                <div class="item d-flex flex-column justify-content-center col mt-4">
                    <span class="subtitle fw-bold text">TIPO DE HABITACIÓN</span>
                    <span class="subtitle text">Dúplex</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">FECHA DE INGRESO</span>
                    <span class="subtitle text">23/11/2023</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">FECHA DE SALIDA</span>
                    <span class="subtitle text">27/11/2023</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">CANTIDAD DE PERSONAS</span>
                    <span class="subtitle text">3 personas</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">PRECIO FINAL</span>
                    <span class="subtitle text">$ 18500</span>
                </div>
            </div>
            <h5 class="title text text-white fw-bold mt-5 mb-0">INFORMACIÓN DEL CLIENTE</h5>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">NOMBRE</span>
                    <span class="subtitle text">Federico</span>
                </div>
                <div class="item d-flex flex-column justify-content-center col mt-4">
                    <span class="subtitle fw-bold text">APELLIDO</span>
                    <span class="subtitle text">Colarte</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">DNI</span>
                    <span class="subtitle text">42482359</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">FECHA DE NACIMIENTO</span>
                    <span class="subtitle text">31/03/2000</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">E-MAIL</span>
                    <span class="subtitle text">fdcolarte@gmail.com</span>
                </div>
                <div class="item d-flex flex-column col mt-4">
                    <span class="subtitle fw-bold text">CELULAR</span>
                    <span class="subtitle text">3416665420</span>
                </div>
            </div>
        </div>
        <div class="border col-7 col-md-4">
            <div class="d-flex flex-column align-items-center">
                <img [src]="paymentImg" alt="payment" [height]="300" [width]="300">
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center mx-4 mt-2 mb-5">
                <span class="text text-white"><em>Pagás</em></span>
                <div class="d-flex align-items-center">
                        <span class="text text-gray me-2"><em>$18500</em></span>
                        <span class="descuento text text-limegreen fs-10"><em>20% OFF</em></span>
                </div>
            </div>
            <hr>
            <button class="btn btn-outline-secondary px-5 py-2 text text-white border-button me-xl-3 my-3 btn-mb w-100">Confirmar</button>
        </div>
    </div>
</div>