<div class="px-3 pb-3">
  <ng-container *ngIf="(userService.isRegisterMode$ | async); else login">
    <div class="pt-4 p-3 d-flex align-items-center justify-content-between">
      <span class="text fs-22 fw-bold">Cree su cuenta</span>
      <i class="ms-auto material-symbols-rounded" (click)="close()" role="button">close</i>
    </div>
    <form [formGroup]="registerForm" class="pt-3 px-4 row row-cols-2">
      <div class="form-group my-3 col">
        <input type="text" class="w-100 text custom-input" id="name" formControlName="name" placeholder="Nombre" required>
      </div>
      <div class="form-group my-3 col">
        <input type="text" class="w-100 text custom-input" id="suranme" formControlName="suranme" placeholder="Apellido" required>
      </div>
      <div class="form-group my-3 col">
        <select class="form-select custom-input custom-select" id="documentType" formControlName="documentType" required>
          <option selected>DNI</option>
        </select>
      </div>
      <div class="form-group my-3 col">
        <input type="text" class="w-100 text custom-input" id="email" formControlName="email" placeholder="example@hotel.com" required>
      </div>
      <div class="form-group my-3 col">
        <input type="password" class="w-100 text custom-input" id="password" formControlName="password" placeholder="Contraseña" required>
      </div>
      <div class="form-group my-3 col">
        <input type="password" class="w-100 text custom-input" id="password" formControlName="password" placeholder="Contraseña" required>
      </div>
  </form>
  <button class="d-block btn btn-primary ms-auto me-3 mt-4 px-4" type="submit" [disabled]="registerForm.invalid">Registrar</button>
  <div class="d-flex justify-content-center text text-cello fs-14 mt-4">
    <span>¿Tienes cuenta?</span>
    <a (click)="openLogin()" class="text-decoration-none ms-1" role="button">Inicia sesión</a>
  </div>
  </ng-container>
  <ng-template #login>
    <div class="pt-4 p-3 d-flex align-items-center justify-content-between">
      <span class="text fs-22 fw-bold">Ingrese a su cuenta</span>
      <i class="ms-auto material-symbols-rounded" (click)="close()" role="button">close</i>
    </div>
    <form [formGroup]="loginForm" class="pt-3 px-4">
        <div class="form-group py-3">
          <input type="text" class="w-100 text custom-input" id="username" formControlName="username" placeholder="Usuario" required>
        </div>
        <div class="form-group py-3">
          <input type="password" class="w-100 text custom-input" id="password" formControlName="password" placeholder="Contraseña" required>
        </div>
    </form>
    <button class="d-block btn btn-primary ms-auto me-3 mt-4" type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    <div class="d-flex justify-content-center text text-cello fs-14 mt-4">
      <span>¿Aún no tienes cuenta?</span>
      <a (click)="openRegister()" class="text-decoration-none ms-1" role="button">Registrate</a>
    </div>
  </ng-template>
</div>
 