.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}

.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}

.custom-day.focused {
    background-color: #e6e6e6;
}

.custom-day.range,
.custom-day:hover {
    background-color: #403C46;
    color: white;
}

.custom-day.faded {
    background-color: #403C46;
}

::ng-deep ngb-datepicker-month .ngb-dp-weekday {
    font-weight: 700;
    color: #403C46;
}

::ng-deep ngb-datepicker-navigation .ngb-dp-arrow-btn {
    color: #403C46;

    &:hover {
        color: #302f33;
    }
}

.custom-input {
    width: 110px;
}

.border {
    border: 2px solid white!important;
}