.header{
    background-color: #312e38;
    height: 70px;
    position: sticky;
    top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    .nav-link {
            color: white;
            font: normal normal normal 16px/22px Poppins;
        }

    .sign-in{
        border: 1px solid white;
        border-radius: 12px;
        color: #312e38;
        width: 135px;
        text-align: center;
        @media (min-width: 768px) {
            width: 110px;
        }
    }
}

.burger-menu{
    transition: all .25s ease-in;
    border-top: 2px solid white;
    margin-top: 2px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #312e38;
    color: white;
    @media (min-width: 768px) {
        border: none;
        margin: 0;
        background-color: transparent;
    }
}

.txt-white{
    color: white;
}

.opacity-0{
    opacity: 0;
}

.opacity-1{
    opacity: 1;
}