<nav class="navbar navbar-expand-md header box-shadow">
  <div class="container-fluid p-0">
    <img class="ms-5" [src]="hotelLogo" height="55px" width="55px">
    <i class="d-inline d-md-none material-icons-round txt-white me-5" type="button" (click)="collapseMenu()">menu</i>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="px-2 ms-md-auto pt-3 pt-md-0 px-0 px-md-4 px-lg-5 navbar-nav d-flex burger-menu box-shadow" 
      [ngClass]="(isMenuCollapsed && (breakpointService.isMobile$ | async)) ? 'opacity-0' : 'opacity-1'">
        <li class="nav-item mx-0 mx-md-2" *ngFor="let tab of tabs; let i = index" [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive #rla='routerLinkActive'>
          <div class="d-flex align-items-center h-40 box-sizing" *ngIf="i !== 4; else signIn">
            <i class="d-inline d-md-none material-symbols-rounded me-2">{{ tab.icon }}</i>
            <a class="nav-link" [routerLink]="tab.link" [ngClass]="{'selected': rla.isActive}">{{ tab.name }}</a>
          </div>
          <ng-template #signIn>
            <a  class="nav-link sign-in bg-white my-3 my-md-0 ms-lg-4" (click)="openLogin()" role="button">{{ tab.name }}</a>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
