<div class="d-flex justify-content-center mb-5">
    <div class="card w-75 mt-4">
        <div class="d-flex justify-content-around flex-wrap mt-5">
            <div class="d-flex flex-column box-custom px-3 py-2 mb-3">
                <label class="text text-white mb-1 me-3">Check In/Out</label>
                <app-datepicker (emitValues)="setDateFilter($event)"></app-datepicker>
            </div>
            <div class="d-flex flex-column box-custom px-3 py-2 mb-3">
                <label class="text text-white mb-1 me-3">Tipo de habitación</label>
                <select class="form-control text custom-select h-custom" aria-label="Default select example" name="roomType" [(ngModel)]="selectedRoomType" (ngModelChange)="onRoomTypeChange()">
                    <option [ngValue]="undefined" selected>Todos</option>
                    <option [ngValue]="{ id: 1, description: 'Dúplex' }">Dúplex</option>
                    <option [ngValue]="{ id: 2, description: 'De Lujo' }">De Lujo</option>
                    <option [ngValue]="{ id: 3, description: 'Suite' }">Suite</option>
                    <option [ngValue]="{ id: 4, description: 'Suite Junior' }">Suite Junior</option>
                    <option [ngValue]="{ id: 5, description: 'Suite Presidencial' }">Suite Presidencial</option>
                </select>
            </div>
            <div class="d-flex flex-column box-custom px-3 py-2 mb-3">
                <label class="text text-white mb-1 me-3">Personas</label>
                <div class="input-group h-custom">
                    <button class="btn btn-outline-secondary custom-select" (click)="onCountPeopleChange(false)" type="button">
                        <span class="material-symbols-outlined text-white mt-1">
                            person_remove
                        </span>
                    </button>
                    <input type="text" class="form-control text-center" disabled [value]="countPeople">
                    <button class="btn btn-outline-secondary custom-select" (click)="onCountPeopleChange(true)" type="button">
                        <span class="material-symbols-outlined text-white mt-1">
                            person_add
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="d-flex flex-wrap align-items-center justify-content-center pb-5 position-relative">
    <ng-container *ngIf="(roomService.searchRoomsLoading$ | async); else searchRooms">
        <div class="position-absolute center-absolute margin-custom">
            <app-spinner [relative]="true" height="72px" width="72px"></app-spinner>
        </div>
    </ng-container>
    <ng-template #searchRooms>
    <div *ngFor="let room of rooms">
        <div class="card mx-2 my-3 min-width-550">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="text text-white">Habitación N° {{ room.idRoom }}</span>
                    <div class="badge text">
                        {{ room.status | uppercase }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title text text-white d-flex align-items-center">
                <span class="material-symbols-outlined circled p-1 me-2">king_bed</span>
                <span>{{ room.roomType.description }}</span>
            </h5>
                <p class="card-text text text-white fs-12">Hasta {{ room.peopleCapacity }} personas</p>
                <div class="d-flex align-items-center justify-content-between">
                <span class="text text-limegreen">${{ room.price }}</span>
                <button class="btn btn-primary custom-button text">Ver detalle</button>
                </div>
            </div>
        </div>
    </div>
    </ng-template>
    <div *ngIf="!rooms && !(roomService.searchRoomsLoading$ | async)">
        <div class="empty-state d-flex flex-column justify-content-center align-items-center">
            <img [src]="emptyState" height="300px" width="300px" class="filter">
            <p class="mb-0 mt-3 text text-center fs-19 text-white fw-bold">No hay resultados</p>
            <p class="text text-center text-white fs-14 mt-2">Modifique los filtros para visualizar habitaciones disponibles</p>
        </div>
    </div>
</div>