<footer>
  <div class="container-fluid p-4 px-lg-5 m-0">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <ul class="p-0">
        <li class="list-inline-item mx-4" *ngFor="let logo of logos">
          <a class="navbar-brand" href="">
            <img [src]="logo" height="40px" width="40px">
          </a>
        </li>
      </ul>
      <ul class="mb-2 p-0">
        <li class="list-inline-item d-flex align-items-between align-items-center"
        *ngFor="let contact of contacts">
          <i class="material-icons me-2">{{ contact.icon }}</i>
          <span>{{ contact.description | translate  }}</span>
        </li>
      </ul>
      <span>Copyright &copy; DSW HOTEL</span>
    </div>
  </div>
</footer>