<a class="d-none d-lg-flex btn btn-link p-0 text-decoration-none flex-row align-items-center gap-2 back-hover my-2 mb-lg-4 mt-lg-4"
(click)="goBack()">
    <span class="material-icons align-top">navigate_before</span>
    <span>Volver al paso 1</span>
</a>
<h2 class="text fs-29 mobile-title mt-3 mb-2 my-lg-4 text-white">Formulario de contacto</h2>
<form [formGroup]="formulario" class="formu p-4" (ngSubmit)="onSubmit()">
  <div class="row gx-5 row-cols-1 row-cols-md-2 align-items-center text-start px-4 ">
    <div class=" col px-4 py-3">
      <span class="text" for="nombre">Nombre: </span>
      <input type="text" class="text custom-input " id="nombre" formControlName="nombre">
    </div>
    <div class=" col px-4 py-3">
      <span class="text" for="apellido">Apellido: </span>
      <input type="text" class="text custom-input" id="apellido" formControlName="apellido">
    </div>
    <div class=" col px-4 py-3">
      <span class="text" for="dni">DNI: </span>
      <input type="number" class="text custom-input " id="dni" formControlName="dni">
    </div>
    <div class=" col px-4 py-3 ">
      <span class="text  col-form-span" for="nacimiento">Fecha de nacimiento: </span>
      <div class="input-group">
        <input
          [minDate]="{year: 1950, month: 1, day: 1}"
          [maxDate]="{year: 2005, month: 12, day: 31}"
          class="form-control"
          placeholder="dd/mm/yyyy"
          name="d2"
          id="nacimiento"
          formControlName="nacimiento"
          ngbDatepicker
          #d2="ngbDatepicker"
        />
        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button">
          <span class="material-symbols-outlined mt-1 text-white">
            calendar_month
          </span>
        </button>
      </div>
    </div>      
    <div class=" col px-4 py-3">
      <span class="text  col-form-span" for="pais">País de residencia: </span>
      <input type="text" class="text custom-input " id="pais" formControlName="pais">
    </div>
    <div class=" col px-4 py-3">
      <span class="text  col-form-span" for="pais">Localidad: </span>
      <input type="text" class="text custom-input " id="localidad" formControlName="localidad">
    </div>
    <div class="row row-cols-sm-3 row-cols-1 justify-content-between px-0 mx-0 py-3">
      <div class=" col-sm-6 col-12 px-4 ">
        <span class="text  col-form-span" for="direccion">Dirección: </span>
        <input type="text" class="text custom-input " id="direccion" formControlName="direccion">
      </div>
      <div class=" col-sm-3 col-6 px-4">
        <span class="text  col-form-span" for="piso">Piso: </span>
        <input type="number" class="text custom-input2 " id="piso" formControlName="piso">
      </div>
      <div class=" col-sm-3 col-6 px-4">
        <span class="text  col-form-span" for="depto">Depto: </span>
        <input type="text" class="text custom-input2 " id="depto" formControlName="depto">
      </div>
    </div>
    
    <div class=" col px-4 py-3  ">
      <span class="text " for="genero">Género:</span>
      <div class="w-100 pt-4 row row-cols-sm-3 row-cols-1 px-2 ">
        <div class="form-check col d-flex justify-content-center">
          <input class="form-check-input bg-transparent border me-2" type="radio" id="genero1" formControlName="genero" value="Masculino">
          <span class="form-check-span text fs-14" for="genero1">Masculino</span>
        </div>
        <div class="form-check col d-flex justify-content-center">
          <input class="form-check-input bg-transparent border me-2" type="radio" id="genero2" formControlName="genero" value="Femenino">
          <span class="form-check-span text fs-14" for="genero2">Femenino</span>
        </div>
        <div class="form-check col d-flex justify-content-center">
          <input class="form-check-input bg-transparent border me-2" type="radio" id="genero3" formControlName="genero" value="Otro">
          <span class="form-check-span text fs-14" for="genero3">Otro</span>
        </div>
    </div>
  </div>
    <div class="col px-4 py-3">
      <span class="text" for="email">E-mail: </span>
      <input type="text" class="text custom-input " id="email" formControlName="email">
    </div>
    <div class=" col px-4 py-3">
      <span class="text " for="telefono">Teléfono: </span>
      <input type="number" class="text custom-input " id="telefono" formControlName="telefono">
    </div>
  </div>
  <div class="d-flex justify-content-end pt-4 pe-4">
  <button class="btn btn-outline-secondary px-5 py-2 text text-white border-button" type="submit" [disabled]="!formulario.valid" (click)="saveStep()">Avanzar</button>
  </div>
</form>