.fs-22 {
    font-size: 22px;
}

.titulo {
    text-align-last: center
}

.cont{
    padding-top: 50px;
}

.custom-button {
    background-color: #312e38;
    border: 1px solid white;
    color: white;
}

.boton {
    display: flex;
    justify-content: center;
    width: 120px;
    margin-top: 5px;
}

.formu{
    background-color: #403C46;
    border-radius: 10px;
    padding: 10px;
}

.text {
    color: white;
}

.fs-14 {
    font-size: 14px;
}

.custom-input {
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
}


.custom-input2 {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
}

.border {
    border:1px solid black !important;
}

.custom-input:focus {
    outline: none;
    box-shadow: none;
}

.custom-select {
    border-radius: 0px;
    padding: 0.5px 2px;
}


.btn-primary {
    background-color: black;
    color: white;
    border: 2px solid #010412;
}

.btn-primary:focus {
    outline: none;
    box-shadow: none;
}

.text-gray {
    color: #20292B;
}

.text-error {
    color: red;
    padding-left: 20px;
    background-color: rgb(238, 238, 238);
}

.is-valid {
    border-color: lawngreen;
}

.is-invalid {
    border-color: red;
}

.btn-width {
    width: 120px;
    height: 40px;
}

.valid-check {
    color: lawngreen;
}