<a class="d-none d-lg-flex btn btn-link p-0 text-decoration-none flex-row align-items-center gap-2 back-hover my-2 mb-lg-4 mt-lg-4"
(click)="goBack()">
    <span class="material-icons align-top">navigate_before</span>
    <span>Ir a reservas</span>
</a>
<h2 class="text fs-29 mobile-title mt-3 mb-2 my-lg-4 text-white">Inicio de sesión</h2>
<div class="container-fluid formu">
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center flex-column col-12 col-md-6 bg-custom py-2 px-2 my-4">
          <img [src]="obligatoryImg" alt="login" class="img-fluid" height="350px" width="350px">
          <p class="text text-white text-center fs-19">Inicia sesión para continuar con la reserva</p>
          <button class="btn btn-outline-secondary px-5 py-2 text text-white border-button w-100 w-md-40 mx-5 my-3" type="submit" (click)="openLogin()">Ingresar</button>
        </div>
    </div>
</div>



