<a class="btn btn-link p-2 text-decoration-none d-flex flex-row align-items-center gap-2 back-hover mb-5 mt-4 auto"
(click)="goBack()">
    <span class="material-icons align-top">navigate_before</span>
    <span>Volver a reservas</span>
</a>
<h2 class="text fs-29 my-5">Reserva creada</h2>
<div class="container-fluid formu ">
    <div class="">
        <img src="../../../assets/images/reserve/success_2.png" alt="Success">
    </div>
    <div class="py-2">
        <p class="text2">Habitacion reservada exitosamente!</p>
    </div>
    <div class="row justify-content-center">
        <button class="btn custom-button text boton my-3 px-4" routerLink="/">Volver al inicio</button>
    </div>
</div>
