<a class="d-none d-lg-flex btn btn-link p-0 text-decoration-none flex-row align-items-center gap-2 back-hover my-2 mb-lg-4 mt-lg-4"
(click)="goBack()">
    <span class="material-icons align-top">navigate_before</span>
    <span>Ir a reservas</span>
</a>
<h2 class="text fs-29 mobile-title mt-3 mb-2 my-lg-4 text-white">Reserva creada</h2>
<div class="container-fluid formu">
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-center align-items-center flex-column col-12 col-md-6 bg-custom py-2 px-2 my-4">
            <img src="../../../assets/images/reserve/success_2.png" width="400px" height="400px" alt="Success" class="radius-15 mt-2 align-self-center img-fluid">
            <div class="py-2 text-center">
                <p class="text2">¡Habitación reservada exitosamente!</p>
            </div>
            <div class="row justify-content-center">
                <button class="btn custom-button text boton mb-3 px-4" (click)="goToMyReserves()">Ir a mis reservas</button>
            </div>
        </div>
    </div>
</div>
