<div class="d-flex flex-xl-row flex-column p-2 p-xl-5">
	<ul ngbNav #nav="ngbNav" [(activeId)]="active" 
	class="d-flex flex-row nav-pills fw-bold justify-content-center justify-content-xl-start text text-center
	p-4 background-box fs-22 flex-xl-column flex-nowrap">
		<li [ngbNavItem]="1" [disabled]="active === 4">
			<a ngbNavLink class="py-4" (click)="changeStep()"
			[ngClass]="{ 'is-active': active === 1 || (stepperService.stepOne$ | async) !== null }"> 
				<span class="material-symbols-outlined fs-29">
					king_bed
				</span>
			</a>
			<ng-template ngbNavContent>
				<app-step-detail-room (goNextStep)="goNextStep()"></app-step-detail-room>
			</ng-template>
		</li>
		<div class="vertical-bar"><ngb-progressbar type="success" [height]="'10px'" [value]="pb1"></ngb-progressbar></div>
		<li [ngbNavItem]="2" [disabled]="(stepperService.stepOne$ | async) === null || active === 4">
			<a ngbNavLink class="py-4" (click)="changeStep()"
			[ngClass]="{
				'is-active': active === 2  || ((stepperService.stepTwo$ | async) !== null && active >= 2)  }">
				<span class="material-symbols-outlined fs-29">
					person
				</span>
			</a>
			<ng-template ngbNavContent>
				<app-step-form (goNextStep)="goNextStep()"></app-step-form>
			</ng-template>
		</li>
		<div class="vertical-bar"><ngb-progressbar type="success" [height]="'10px'" [value]="pb2"></ngb-progressbar></div>
		<li [ngbNavItem]="3" [disabled]="(stepperService.stepOne$ | async) === null || (stepperService.stepTwo$ | async) === null || active === 4">
			<a ngbNavLink class="py-4" [ngClass]="{ 'is-active': active === 3 || ((stepperService.stepThree$ | async) && active >= 3) }" (click)="changeStep()">
				<span class="material-symbols-outlined fs-29">
					door_sliding
				</span>
			</a>
			<ng-template ngbNavContent>
				<app-summary-and-payment (goNextStep)="goNextStep()"></app-summary-and-payment>
			</ng-template>
		</li>
		<div class="vertical-bar"><ngb-progressbar type="success" [height]="'10px'" [value]="pb3"></ngb-progressbar></div>
		<li [ngbNavItem]="4" [disabled]="(stepperService.stepOne$ | async) === null || (stepperService.stepTwo$ | async) === null">
			<a ngbNavLink class="py-4" [ngClass]="{ 'is-active': active === 4 }" (click)="changeStep()">
				<span class="material-symbols-outlined fs-29">
					check
				</span>
			</a>
			<ng-template ngbNavContent>
				<app-success></app-success>
			</ng-template>
		</li>
	</ul>

	<div [ngbNavOutlet]="nav" class="ms-xl-5 w-100"></div>
</div>